<footer>
  <div class="container" style="background-color: gold;margin-bottom: 0;align-items:right;">
    <div class="row">
      <div class="col-sm-6">              
      <p>&copy; 2020 - NóòS Inc.<br>              
      <small>Área restrita a usuários previamente cadastrados</small></p>            
      </div>
    </div>
  </div>
</footer>
</body>
</html>
