<%- include("_header") -%>

<div class="container" style="margin-top: 10px;">
    <div class="row">
        <div class="d-flex">
            <div class="col-sm-4">
                <h4>Benvindo!</h4>   
            </div>
            <div class="row mb-8">
                <div class="col-md-6 mb-2">
                    <img src="https://images.unsplash.com/photo-1666269878905-29f85729268b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwxMDh8fHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=500&q=60" class="img-fluid" alt="$$$" style="width: 3000px">
                </div>
            </div>
        </div>
    </div>
  

<%- include("_footer") -%>
